

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the search bar */
    margin: 20px; /* Add some margin */
  }
  
  .input {
    width: 300px; /* Set a fixed width for the input */
    padding: 10px; /* Add padding for better touch area */
    border: 2px solid #75277c; /* Blue border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
    transition: border-color 0.3s; /* Smooth transition for border color */
  }
  
  .input:focus {
    outline: none; /* Remove default outline */
    border-color: #0056b3; /* Darker blue on focus */
  }
  
  .searchButton {
    padding: 10px 20px; /* Add padding for button */
    margin-left: 10px; /* Space between input and button */
    background-color: #af6eb8; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .searchButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }